<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div id="content" class="main">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-5 display-1 text-muted" align="center">Job - Hunter</h1>
            <hr class="mt-3 mb-4">

            <br class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        {% if notification %}
                            <form id="inbox_form" action="{% url 'jobs:inbox' %}" method="post" align="right">
                                {% csrf_token %}
                                <input class="btn btn-outline-primary btn-lg" id="inbox_btn" type=submit
                                       value="Oferty">
                            </form>
                        {% else %}
                            <form id="inbox_form" action="{% url 'jobs:inbox' %}" method="post" align="right">
                                {% csrf_token %}
                                <input class="btn btn-outline-secondary btn-lg" id="inbox_btn" type=submit
                                       value="Oferty">
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        <form id="preferences_form" action="{% url 'jobs:preferences' %}" method="post" align="center">
                            {% csrf_token %}
                            <input class="btn btn-outline-secondary btn-lg" width="300" height="300"
                                   id="preferences_btn"
                                   type=submit value="Preferencje">
                        </form>
                    </div>
                    <div class="col-sm">
                        <form id="history_form" action="{% url 'jobs:history' %}" method="post" align="left">
                            {% csrf_token %}
                            <input class="btn btn-outline-secondary btn-lg" id="history_btn" type=submit
                                   value="Historia">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>