<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div id="content" class="main">
    <form class="input-group" action="{% url 'jobs:home' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="url" value=""/>
        <input class="btn btn-outline-secondary m-1 mb-1 rounded-1" type="submit" value="Wróć">
    </form>
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="display-3 text-muted" align="center">Nowe oferty</h1>
            <hr class="mt-3 mb-4">

            <br class="mt-5">
            {% if new_offers %}
                {% for offer in new_offers %}
                    <form action="{% url 'jobs:open_offer' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="url" value="{{ offer.offer_url }}"/>
                        <input class="btn btn-outline-secondary rounded-1 input-group mb-3" type="submit"
                               value="{{ offer.offer_title }}">
                    </form>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <br class="mt-3 mb-5">
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>