<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Preferences</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div id="content" class="main">
    <form class="input-group" action="{% url 'jobs:home' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="url" value=""/>
        <input class="btn btn-outline-secondary m-1 mb-1 rounded-1" type="submit" value="Wróć">
    </form>
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="display-3 text-muted" align="center">Preferencje</h1>
            <hr class="mt-3 mb-4">

            <form align="center" action="{% url 'jobs:save_preferences' %}" method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm" align="center">
                            <h2>Lokalizacja</h2>
                            {% for localization in localizations.all %}
                                <div class="input-group-text mt-1">
                                    <div class="p-1">
                                        {% if localization.checked %}
                                            <input type="checkbox" name="localization_choice"
                                                   id="localization{{ forloop.counter }}"
                                                   value="{{ localization.id }}" checked>
                                        {% else %}
                                            <input type="checkbox" name="localization_choice"
                                                   id="localization{{ forloop.counter }}"
                                                   value="{{ localization.id }}">
                                        {% endif %}
                                    </div>
                                    <label for="localization_choice{{ forloop.counter }}">{{ localization.value }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm" align="center">
                            <h2>Stanowisko</h2>
                            {% for role in roles.all %}
                                <div class="input-group-text mt-1">
                                    <div class="p-1">
                                        {% if role.checked %}
                                            <input type="checkbox" name="role_choice" id="role{{ forloop.counter }}"
                                                   value="{{ role.id }}" checked>
                                        {% else %}
                                            <input type="checkbox" name="role_choice" id="role{{ forloop.counter }}"
                                                   value="{{ role.id }}">
                                        {% endif %}
                                    </div>
                                    <label for="role_choice{{ forloop.counter }}">{{ role.name }}</label><br>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm" align="center">
                            <h2>Technologia</h2>
                            {% for technology in technologies.all %}
                                <div class="input-group-text mt-1">
                                    <div class="p-1">
                                        {% if technology.checked %}
                                            <input type="checkbox" name="technology_choice"
                                                   id="technology{{ forloop.counter }}"
                                                   value="{{ technology.id }}" checked>
                                        {% else %}
                                            <input type="checkbox" name="technology_choice"
                                                   id="technology{{ forloop.counter }}"
                                                   value="{{ technology.id }}">
                                        {% endif %}
                                    </div>
                                    <label for="technology_choice{{ forloop.counter }}">{{ technology.name }}</label>
                                </div>
                            {% endfor %}
                            <br class="mt-5">
                            <h2>Doświadczenie</h2>
                            {% for exp in experience.all %}
                                <div class="input-group-text mt-1">
                                    <div class="p-1">
                                        {% if exp.checked %}
                                            <input type="checkbox" name="exp_choice" id="exp{{ forloop.counter }}"
                                                   value="{{ exp.id }}" checked>
                                        {% else %}
                                            <input type="checkbox" name="exp_choice" id="exp{{ forloop.counter }}"
                                                   value="{{ exp.id }}">
                                        {% endif %}
                                    </div>
                                    <label for="exp_choice{{ forloop.counter }}">{{ exp.name }}</label><br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="mt-3 mb-4">
                <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Zapisz preferencje">
                <hr class="mt-3 mb-5">
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>